.col {
  width: 100%;
  padding: 0;
  margin: 0;
}

#user-info {
  height: 20%;
  padding: 4%;
  width: 100%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
}

#avatar {
  height: 9%;
  width: 9%;
  border-radius: 90px;
  float: left;
  display: block;
  cursor: pointer;
}

#username {
  display: block;
  float: left;
  height: 7%;
  font-size: large;
  font-weight: bold;
  font-family: "Roboto Slab";
}

#post-photo {
  height: 50%;
  width: 100%;
  border: #d1d1d1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#card {
  border: #d1d1d1;
  border-style: solid;
  border-width: 1%;
  background: rgb(245, 245, 245);
  border-radius: 20px;
  box-shadow: 0px 42px 38px -32px rgba(166, 166, 166, 1);
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}

#likes-container {
  margin-left: 4%;
  height: 16%;
  padding: 1%;
  display: flex;
  align-items: center;
}

#likes {
  display: block;
  float: left;
  height: 100%;
  font-size: large;
  font-weight: bold;
  font-family: "Roboto Slab";
  cursor: pointer;
}

#like {
  width: 7%;
  height: 7%;
  display: block;
  float: left;
  margin-right: 5%;
  cursor: pointer;
  
}

#description {
  height: 18%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
  padding-bottom: 1%;
}

p {
  text-align: left;
  word-break: normal;
  white-space: normal;
}

#profile-image {
  float: left;
  display: block;
  margin-right: 5%;
  width: 15%;
  height: 15%;
  border-radius: 90px;
  cursor: pointer;
}

.close.pull-right {
  background: transparent;
  box-shadow: none;
}

.c-pointer {
  cursor: pointer;
}

#name {
  font-weight: normal;
}

#post-photo {
  height: 50%;
  width: 100%;
  border: #d1d1d1;
  position: sticky;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}


#item {
  padding: 10px;
}

#item:hover {
  cursor: pointer;
  background-color: #5555552d;
  border-radius: 20px;
}

#item:focus {
  outline: none;
}

i {
  cursor: pointer;
  display: none;
}

p:hover i
{
  display: inline;
}

#defal {
  display: block;
}

button:disabled {
  font-weight: bolder;
  color: gray;
}


button:valid {
  font-weight: bolder;
  color:#6617cb;
}

button {
  box-shadow: none;
}


