.col {
  width: 100%;
  padding: 0;
  margin: 0;
}

#user-info {
  height: 20%;
  padding: 4%;
  margin-bottom: 7%;
  display: flex;
  align-items: center;
}

#avatar {
  height: 9%;
  width: 9%;
  border-radius: 90px;
  float: left;
  display: block;
}

#username {
  display: block;
  float: left;
  height: 7%;
  font-size: large;
  font-weight: bold;
  font-family: "Roboto Slab";
}

#post-photo {
  height: 50%;
  width: 100%;
  border: #d1d1d1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#card {
  border: #d1d1d1;
  border-style: solid;
  border-width: 1%;
  border-radius: 20px;
  box-shadow: 0px 42px 38px -32px rgba(166, 166, 166, 1);
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}

#likes-container {
  height: 20%;
  padding: 4%;
  margin-top: 3%;
  margin-bottom: 7%;
  display: flex;
  align-items: center;
}

#likes {
  display: block;
  float: left;
  height: 100%;
  font-size: large;
  font-weight: bold;
  font-family: "Roboto Slab";
}

#like {
  width: 7%;
  height: 7%;
  display: block;
  float: left;
  margin-right: 5%;
}

#description {
  height: 20%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
  padding-bottom: 1%;
}

p {
  text-align: left;
  word-break: normal;
  white-space: normal;
}

#profile-image {
  float: left;
  display: block;
  margin-right: 5%;
  width: 15%;
  height: 15%;
  border-radius: 90px;
}

.close.pull-right {
  background: transparent;
  box-shadow: none;
}

.c-pointer {
  cursor: pointer;
}

#name {
  font-weight: normal;
}