#main-container {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

#profile {
    border: #d1d1d1;
  border-style: solid;
  background: rgb(245, 245, 245);
  border-width: 1%;
  border-radius: 20px;
  box-shadow: 0px 42px 38px -32px rgba(166, 166, 166, 1);
  padding: 5%;
  width: 100%;
  height: 100%;
  
}

#avatar-section {
    display: flex;
    align-items: center
}

#avatar {
  float: left;
  display: block;
  margin-right: 5%;
  width: 20%;
  height: 20%;
  border-radius: 90px;
}

#username {
  float: left;
  display: block;
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Roboto Slab';
}

p {
    font-size: large;
    font-weight: bold; 
    
}

#description {
  text-align: left;
  word-break: normal;
  font-weight: normal;
}

#name {
  text-align: left;
  word-break: normal;
}

button {
  margin-bottom: 7%;
  border-radius: 20px;
  width: 30%;
  height: 10%;
  background-color: rgb(0, 106, 192);
  outline: none;
  border: none;
}

button:disabled:hover {
  background-color: #6617cb;
  background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}

button:hover {
  background-color: #6247aa;
  background-image: linear-gradient(316deg, #6247aa 0%, #a594f9 74%);
}

button:focus {
  outline: none;
}

#follow-image {
  float: left;
  display: block;
  margin-right: 5%;
  width: 15%;
  height: 15%;
  border-radius: 90px;
  cursor: pointer;
}

.close.pull-right {
  background: transparent;
  box-shadow: none;
}

.c-pointer {
  cursor: pointer;
}

#name {
  font-weight: bold;
}

#photo {
  width:250px;
  height:250px;
  object-fit:cover;
  margin: 10px;
  cursor: pointer;
}

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }

.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}

#localization {
  text-align: left;
  font-weight: normal;
}