/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

input {
    border: #D1D1D1;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    opacity: 0.7;
    max-height: 50px;
    box-shadow: 0px 19px 38px -16px rgba(166,166,166,1);
    outline: none;
}

button {
    font-family: 'Roboto Slab';
    outline: none;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
    border: #707070;
    border-style: none;
    border-radius: 12px;
    max-height: 50px;
    box-shadow: 0px 19px 38px -16px rgba(166,166,166,1);
    color: white;
}

input.form-control {
    border-radius: 12px;
    max-height: 50px;
    opacity: 0.7;
}

p {
    font-family: 'Roboto Slab';
}

img:focus {
    outline: none;
}

textarea {
    border: #D1D1D1;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    opacity: 0.7;
    box-shadow: 0px 19px 38px -16px rgba(166,166,166,1);
    outline: none;
    font-family: 'Roboto Slab';
}

label {
    font-family: 'Roboto Slab';
}


.fa-pulse {
	display: inline-block;
	-moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.fa-bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 1s infinite linear;
  -o-animation: bounce 1s infinite linear;
  -webkit-animation: bounce 1s infinite linear;
  animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}