#avatar-section {
    display: flex;
    align-items: center
}

#follow-image {
    float: left;
    display: inline;
    margin-right: 5%;
    width: 15%;
    height: 15%;
    border-radius: 90px;
    margin-bottom: 0; 
    cursor: pointer;
  }

  p {
    font-size: large;
    font-weight: bold;   
}

#name {
    font-weight: normal;
}

#threads {
    max-height: 100%;
}

.card {
    border: #d1d1d1;
    border-style: solid;
    width: 50%;
    border-width: 1%;
    border-radius: 20px;
    box-shadow: 0px 42px 38px -32px rgba(166, 166, 166, 1);
    padding: 5%;
    margin: 0;
  }
  

  body {
    font-family: helvetica;
    display: flex ;
    flex-direction: column;
    align-items: center;
  }
  
  .chat {
    border: none;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .messages {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .yours {
    align-items: flex-start;
  }
  
  .yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
  }
  
  
  .mine {
    align-items: flex-end;
  }
  
  .mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #6617cb 0%, #cb218e 74%);
    background-attachment: fixed;
    position: relative;
  }

  input {
    margin-bottom: 7%;
    font-size: medium;
    width: 70%;
    font-family: 'Roboto Slab';
    height: 4%;
    outline: none;
    padding: 4%;
    padding-left: 8%;
    padding-right: 8%;
}

button {
    position: relative;
    width: 28%;
    height: 4%;
    display: block;
    font-family: 'Roboto Slab';
}

button:disabled:hover {
    background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}

button:hover {
    background-color: #6247aa;
    background-image: linear-gradient(316deg, #6247aa 0%, #a594f9 74%);
}

.modal-body {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
}

#conv {
    padding: 10px;
    width: 700px;
}

#conv:hover {
    cursor: pointer;
    background-color: #5555552d;
    border-radius: 20px;
}

@keyframes fa-blink {
  0% {opacity: 1;}
  100% {opacity: 0.4;}
}

.is-online {
  animation: fa-blink 1.5s linear infinite;
  color: green;
}

