a {
    font-family: 'Roboto Slab';
    font-size: xx-large;
    font-weight: bold;
}

.bg-custom-2 {
    background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}

#navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#avatar {
    height: 8%;
    width: 8%;
    border-radius: 90px;
}

a.dropdown-item {
    font-size: large;
    font-family: 'Roboto Slab';
    font-weight: normal;
}

a.dropdown-item:focus {
    background-color: #3d3d3d49;
    color: black;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}
#user {
    font-size: x-large;
    color: whitesmoke;
    font-family: 'Roboto Slab';
    font-weight: lighter;
    margin-right: 20px;
}

#avatar-section {
    display: flex;
    align-items: center
}

#follow-image {
    float: left;
    display: inline;
    margin-right: 5%;
    width: 15%;
    height: 15%;
    border-radius: 90px;
    margin-bottom: 0;
  }

  p {
    font-size: large;
    font-weight: bold;   
}

.close.pull-right {
  background: transparent;
  box-shadow: none;
}

#name {
    font-weight: normal;
}

#searchusers {
    margin-bottom: 7%;
    font-size: medium;
    width: 100%;
    font-family: 'Roboto Slab';
    height: 4%;
    outline: none;
    padding: 4%;
    padding-left: 8%;
    padding-right: 8%;
}

#search {
    font-size: medium;
    width: 60%;
    height: 40%;
    font-family: 'Roboto Slab';
    outline: none;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

#item {
    padding: 10px;
  }
  
  #item:hover {
    cursor: pointer;
    background-color: #5555552d;
    border-radius: 20px;
  }
  
  #item:focus {
    outline: none;
  }