#login-page-content{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#login-page-content #login-page-content-img{
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    float: left;
}

img {   
    position: sticky;
    width: 100%;
    height: 100%;
}

#login-page-content #login-page-content-form {
    text-align: center;   
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}

input {
    margin-bottom: 7%;
    font-size: medium;
    width: 100%;
    font-family: 'Roboto Slab';
    height: 4%;
    display: block;
    outline: none;
    padding: 4%;
    padding-left: 8%;
    padding-right: 8%;
}

#login-page-content #login-page-conent-form #centered-div {
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;    
}

#form-login {
    background-color: #fcfcfc;
    margin-inline: auto;
    margin-top: 5%;
    display: inline-block;
    padding: 15%;
    position: relative;
    border: #D1D1D1;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    box-shadow: 0px 42px 38px -32px rgba(166,166,166,1);

}

button {
    margin-bottom: 7%;
    font-family: 'Roboto Slab';
    position: relative;
    width: 100%;
    height: 4%;
    display: block;
}

button:disabled:hover {
    background-color: #6617cb;
    background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
}

button:hover {
    background-color: #6247aa;
    background-image: linear-gradient(316deg, #6247aa 0%, #a594f9 74%);
}

#login-header {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: auto ;
    margin-bottom: 80px;
}

#login-register {
    font-family: 'Roboto Slab';
    font-size: medium;
}

#login-register-click {
    font-family: 'Roboto Slab';
    font-size: medium;
    font-weight: bold;
    color: #6617cb;
}

#login-register-click:hover {
    color: #6247aa;
    cursor: pointer;
}


