
.card {
  border: #d1d1d1;
  border-style: solid;
  border-width: 1%;
  border-radius: 20px;
  box-shadow: 0px 42px 38px -32px rgba(166, 166, 166, 1);
  padding: 5%;
  margin: 0;
}

.card-footer {
  background: transparent;
}

img {
  border-radius: 90%;
}

h1 {
  font-size: auto;
  font-weight: bold;
  font-family: "Roboto Slab";
}

p {
    font-size: auto;
  font-weight: normal;
  font-family: "Roboto Slab";
}

input {
    margin-left: 2px;
    margin-right: 2px;
    font-size: medium;
    font-family: 'Roboto Slab';
    outline: none;
}

h4 {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: auto;
}

strong {
  font-family: 'Roboto Slab';
}